.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}


.slider-content {
    width: 100%;
}

.title {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.category-list {

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: 25%;
    width: 100%;

}


.category-list img {
    position: absolute;
}

.category-list h5 {
    position: relative;
    text-align: center;   
    margin-bottom: 0px;
    color: white;
}
.category-name {
    position: relative;
    opacity: 0.5;
    width: 200px;
    border: 1px solid black;
    height: 50px;
    background-color: black;
}
.category-list h5:hover , .category-name:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 1;
}

.info-container {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.info {
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}

.icon {
    text-align: center;
    margin-bottom: 10px;
}

.info p {
    text-align: justify;
    color: rgba(116, 115, 115, 0.842);
}

hr {
    width: 1050px;
}

.brands {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 80%;
    margin-left: 10%;
}

.carousel {
    margin-top: 1%;
    margin-left: 10%;
    width: 80%;
}

.title2 h3{
    margin-top: 5%;
    margin-left: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}