<div *ngIf="!logged" class="login">
  <form action="">
    <div class="imgcontainer">
      <h3>Войти</h3>
    </div>

    <div class="container">
      <label for="uname"><b>Имя пользователя</b></label>
      <input type="text" [(ngModel)]="username" placeholder="введите имя пользователя" name="uname" required>

      <label for="psw"><b>Пароль</b></label>
      <input type="password" [(ngModel)]="password" placeholder="введите пароль" name="psw" required>

      <button id="voyti" type="submit" (click)="login()">Войти</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Запомнить меня
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Закрыть</button>
      <span class="psw">Забыли <a href="#">пароль?</a></span>
    </div>
  </form>
</div>

<div *ngIf="logged" class="account">
  <h1>Your account</h1>
  <button id="logout" (click)="logout()">Выйти</button>
</div>
