body {
    background: url(https://gist.github.com/images/modules/site/heroes/simple-codelines.svg) no-repeat;
    background-size: cover;
}

.logo {
    width: 30px;
    height: 30px;
    background-color: white;
}

#logo {
    margin-left: 100px;
}

#logo-r {
    margin-right: 140px;
}
#nav-back {
    background-color: black;
}

.main {
    position: absolute;
    background-color:rgb(43, 49, 55);;;
    width: 100%;
    height: 82%;
    opacity: 0.9;
}
.main h1 {
    font-size: 50px;
    width: 500px;
    font-family: Helvetica;
    font-weight: 520;
    line-height: 1;
    color: #fff;
}

.txt {
    position: absolute;
    margin-top: 190px;
    margin-left: 270px;
}
.txt p {
    font-size: 20px;
    font-weight: 400;
    font-family: Helvetica;
    color:rgba(255, 255, 255, 0.6);
    width: 500px;
}

.signup {
    position: absolute;
    left: 55%;
    top: 10%;
    border-radius: 3px;
    width: 420px;
    height: 490px;
    background-color: white;
    padding: 20px;
}

.signup label {
    margin-top: 2%;
    color: black;
    font-weight: 600;
}

.signup input {
    width: 100%;
    height: 45px;
    border: 1px solid #d1d5da;
    border-radius: 5px;
    
}

.signup p {
    margin-top: 8px;
    color: black;
    font-size: 12px;

}

.signup button {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    border: 0px;
    background-color: rgb(46, 188, 79);
    color: white;
    font-weight: 600;
    margin-bottom: 20px;    
}

.signup button:hover {
    background-color: rgb(33, 150, 61);
}
