<div class="login">
<form action="" >
    <div class="imgcontainer">
      <h3>Войти</h3>
    </div>
  
    <div class="container">
      <label for="uname"><b>Имя пользователя</b></label>
      <input type="text" placeholder="введите имя пользователя" name="uname" required>
  
      <label for="psw"><b>Пароль</b></label>
      <input type="password" placeholder="введите пароль" name="psw" required>
  
      <button type="submit">Войти</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Запомнить меня
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Закрыть</button>
      <span class="psw">Забыли <a href="#">пароль?</a></span>
    </div>
  </form>
  </div>

