
<div class="signup">
<form action="">
    <div class="container">
      <h1>Регистрация</h1>
      <p>Заполните поля ввода</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Введите Email" name="email" required>
  
      <label for="psw"><b>Пароль</b></label>
      <input type="password" placeholder="Введите пароль" name="psw" required>
  
      <label for="psw-repeat"><b>Повторите пароль</b></label>
      <input type="password" placeholder="Повторите пароль" name="psw-repeat" required>
  
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Запомнить меня
      </label>
  
      <p> Создав аккаунт вы соглашаетесь с<a href="#" style="color:dodgerblue"> условиями конфиденциальности</a>.</p>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn">Закрыть</button>
        <button type="submit" class="signupbtn">Создать</button>
      </div>
    </div>
  </form>
</div>