<div class="title">
    <h1>Категории</h1>
</div>
<div class="container">

    <div *ngFor="let category of categories index as id" class="category-list">

        <img src="{{category.image}}" width="200px">
        <div class="category-name">
        <h5><a routerLink="/categoryList/{{category.id}}">{{category.name}}</a></h5>
        </div>
    </div>
</div>

<span class="title2">
    <h3>Популярное</h3>
    </span>
<div class="sale">
<ng-image-slider [images]="products" #nav></ng-image-slider>
</div>
