<hr>
<div class="container">
   <div class="help">
       <h6>Помощь</h6>
       <a href="#">Статус заказа по номеру</a>
       <a href="#">Центр поддержки SnowDevil</a>
       <a href="#">Как оформить заказ</a>
       <a href="#">Как выбрать размер</a>
       <a href="#">Условия доставки</a>
       <a href="#">Возврат</a>
       <a href="#">Товары партнеров</a>
       <a href="#">Публичная оферта</a>
   </div>
   <div class="socnet">
    <h6>Мы в соцсетях</h6>
    <a href="#"><img src="https://img.icons8.com/metro/24/000000/instagram-new.png"/></a>
    <a href="#"><img src="https://img.icons8.com/ios/28/000000/facebook.png"/></a>
    <a href="#"><img src="https://img.icons8.com/material-outlined/28/000000/twitter-squared.png"/></a>
    <a href="#"><img src="https://img.icons8.com/ios/28/000000/vk-com.png"/></a>
    <a href="#"><img src="https://img.icons8.com/ios/30/000000/youtube-play.png"/></a>
</div>

<div class="payment">
    <h6>Способы оплаты</h6>
    <a href="#"><img src="https://img.icons8.com/color/40/000000/mastercard-logo.png"/></a>
    <a href="#"><img src="https://img.icons8.com/color/40/000000/visa.png"/></a>
    <a href="#"><img src="https://img.icons8.com/color/40/000000/paypal.png"/></a>
    <p>Вы можете оплатить покупки
        наличными при получении, либо
        выбрать <a href="">другой способ оплаты</a>.</p>

</div>


<div class="mob-app">
    <h6>Для мобильных устройств</h6>
    <a href="#"><img src="./assets/appstore.png"/></a>
    <a href="#"><img src="./assets/googleplay.png"/></a>
    <p>Вы также можете перейти
        на  <a href="">мобильную версию сайта</a>.</p>

</div>
<div class="col-lg-3 col-12">
        <h6>
            Contact Info
        </h6>
        <div>
            <p>
                <i class="fa fa-location-arrow" aria-hidden="true"></i> 203 Fake St. Mountain View, San Francisco, California, USA
            </p>
            <p>
                <i class="fa fa-phone" aria-hidden="true"></i>  +2 392 3929 210
            </p>
            <p>
                <i class="fa fa-envelope" aria-hidden="true"></i> emailaddress@domain.com
            </p>
        </div>
        <h5>Subscribe</h5>
        <form action="">
            <input type="email" class="form-control">
            <button class="btn btn-primary mt-2 ">SEND</button>
        </form>
    </div>

</div>
<hr>
<div class="card-footer text-muted text-center">
    <p>2013-2020 © SnowDevil.kz — модный интернет-магазин одежды, обуви и аксессуаров. Все права защищены.<br>
        Доставка по всему Казахстану.<br>
        Телефон: 8777-777-77-77 (круглосуточно).</p>
</div>